.OrderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}
.OrderDetails h2 {
    margin: 0;
}
.OrderDetails p {
    margin: 0;
}
.OrderDetails__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 2px solid black;
}
.OrderDetails .OrderDetails__totalPrice {
    font-size: 24px;
}
.OrderDetails__bottom button {
    border: none;
    border-radius: 10px;
    background-color: rgb(136, 16, 16);
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
